{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="storeinfo">
            <form action="">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ชื่อร้าน</label>
                    <div class="text col-sm-7">
                        {{store.storename}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">วันที่เปิดร้าน</label>
                    <div class="text col-sm-7">
                        {{store.open_day}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="storeTime" class="col-sm-3 col-form-label">เวลาเปิด-ปิดร้าน</label>
                    <label for="openStore" class="col-sm-1 col-form-label">เปิด</label>
                    <div class="text col-sm-2">
                        {{store.open_time}}
                    </div>
                    <label for="closeStore" class="col-sm-1 col-form-label">ปิด</label>
                    <div class="text col-sm-2">
                        {{store.close_time}}
                    </div>
                </div>    

                <div class="form-group row">
                    <label for="orderTime" class="col-sm-3 col-form-label">เวลาเปิด-ปิดรับออเดอร์</label>
                    <label for="openOrder" class="col-sm-1 col-form-label">เปิด</label>
                    <div class="text col-sm-2">
                        {{store.open_order}}
                    </div>
                    <label for="closeOrder" class="col-sm-1 col-form-label">ปิด</label>
                    <div class="text col-sm-2">
                        {{store.close_order}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">คำโปรยของร้าน</label>
                    <div class="text col-sm-7">
                        {{store.detail}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ติดต่อร้าน</label>
                    <div class="text col-sm-1"><img src="/media/Image/icon/email.png" width="22px" height="22px" /></div>
                    <div class="text col-sm-4"> 
                        {{store.email}}
                    </div>
                    <div class="col-sm-4"></div>
                    <br />
                    <div class="col-sm-3"></div>
                    <div class="text col-sm-1"><img src="/media/Image/icon/fb_ic.png" width="20px" height="20px" /></div>
                    <div class="text col-sm-2"> 
                        {{store.fbpage}}
                    </div>
                    <div class="text col-sm-1"><img src="/media/Image/icon/line_ic.png" width="20px" height="20px" /></div>
                    <div class="text col-sm-2"> 
                        {{store.lineac}}
                    </div>

                    <br />
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="text col-sm-1"><img src="/media/Image/icon/instagram.png" width="20px" height="20px" /></div>
                    <div class="text col-sm-2"> 
                        {{store.igac}}
                    </div>
                    <div class="text col-sm-1"><img src="/media/Image/icon/phone.png" width="20px" height="20px" /></div>
                    <div class="text col-sm-2"> 
                        {{store.phone}}
                    </div>

                </div>
                <div class="form-group row">
                    <label for="shopname" class="col-sm-3 col-form-label">ที่อยู่ของร้าน</label>
                    <div class="text col-sm-7">
                        {{store.address}}
                    </div>
                </div>
            </form>
        </div>
    
        {% if perms.HeyFoodie.change_store %}
        <div class="container">
            <div class="vertical-center">  
                <form action="{% url 'editshop_update' %}">      
                <button type="submit" class="btn btn-outline-warning btn-lg">แก้ไขข้อมูลร้านค้า</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}